.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .hello{
    display: flex;
    width: 95vw;
    gap: 150px;
  }